.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h5.button-font {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

h1 {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

h2 {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-family: Heebo;
  font-weight: normal;
  font-size: 20px;
}

h4 {
  font-family: Heebo;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.exploreExtraLessonsHeader {
  /* width: 126px;
  height: 29px;

font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;

color: #000000; */
font-size: 20px;
}

.exploreGridStartText {
width: 40px;
height: 17px;


font-family: Inconsolata;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;
}

.exploreGridStart {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;

margin-top: 10px !important;
width: 236px;
height: 40px;


/* Blue/Main */

background: #4361EE;
border-radius: 4px;

/* Inside Auto Layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.exploreImageDescription {
  font-family: Heebo;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.exploreExtraLessonsTitle {
  height: 24px;

  font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
/* identical to box height */


color: #000000;

opacity: 0.5;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.exploreExtraLessonsSubTitle {
  
  width: 91px;
  height: 29px;

font-family: Heebo;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.exploreHeader {
  width: 81px;
  height: 47px;

  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  /* identical to box height */


  color: #000000;
}

.exploreUpcoming {
width: 110px;
height: 35px;

font-family: Heebo;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;

color: #000000;
}

.exploreCompleted {
  width: 118px;
  height: 35px;

font-family: Heebo;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;

color: #000000;

opacity: 0.4;
}

.exploreExtraLessonsButton {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;

position: static;
width: 40px;
height: 40px;
left: 271px;
top: 22.5px;

/* BG / Dark */

background: #161B25;
border-radius: 4px;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}


.exploreMainLessons {
  /* width: 125px;
  height: 29px;

font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;

color: #000000; */
font-size: 20px;
}

.exploreModule {
  font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
/* identical to box height */


color: #000000;

opacity: 0.5;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.footer {
  position: 'absolute';
  bottom: 0;
}

.exploreParentDiv {
  margin-left: 24px;
}

.footerDiv {
  height: 90px;
}

.lessonTitle {
  height: 24px;
  
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height */
  
  
  color: #000000;
  
  opacity: 0.5;
}

.lessonSubTitle {
  width: 184px;
  height: 47px;

  
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  /* identical to box height */
  
  
  color: #000000;
  
}

.lessonDescription {
  width: 327px;

font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
margin-bottom: 60px;
color: #000000;

opacity: 0.6;
}

.lessonStart {
  /* Auto Layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;

width: 327px;
height: 49px;

/* Blue/Main */

background: #4361EE;
border-radius: 4px;
}

.lessonStartText {

height: 17px;


font-family: Inconsolata;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;
}

